<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1097713965278-eqcg9ohl43gidq576popmv4gqu4co267.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1097713965278-eqcg9ohl43gidq576popmv4gqu4co267</string>
	<key>API_KEY</key>
	<string>AIzaSyDtYmFaaerUjSOc_0-Sw5Wt8YNDERFRmOY</string>
	<key>GCM_SENDER_ID</key>
	<string>1097713965278</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.communicationacademy.communicationacademy</string>
	<key>PROJECT_ID</key>
	<string>communication-academt</string>
	<key>STORAGE_BUCKET</key>
	<string>communication-academt.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1097713965278:ios:e9dd37aad4b88ee85e0a4f</string>
	<key>DATABASE_URL</key>
	<string>https://communication-academt.firebaseio.com</string>
</dict>
</plist>